{% extends "../layouts/single-column.twig" %}

{% set title = "Web à Québec - Le plus grand événement numérique francophone en Amérique" %}
{% set class = "" %}

{% block content %}

<header>
    <div class="title">
        <h1 class="logo"><img src="svg/originals/waq-logo.svg" alt="Web à Québec"></h1>
        <div class="tagline">Le plus grand événement numérique francophone en Amérique</div>
        <div class="buy"><a class="btn btn-outline is-white" href="https://lepointdevente.com/billets/waq2017/" itemprop="url" property="url">J'achète <span class="visuallyhidden"> mon billet pour le WAQ</span> à 375$</a></div>
    </div>
    <meta itemprop="name"  property="name" content="Web à Québec" />
    <meta itemprop="url"  property="url" content="http://www.webaquebec.org" />
    <div class="infos">
        <div class="place" itemprop="location" itemscope itemtype="http://schema.org/Place" property="location" typeof="http://schema.org/Place">
            {% svg "icon-place", "27x39" %}
            <span itemprop="name" property="name">
                <span>Au Terminal</span>
                <span>du Port de Québec</span>
            </span>
            <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"  property="address" typeof="PostalAddress">
                <meta itemprop="streetAddress" property="streetAddress" content="84 Rue Dalhousie" />
                <meta itemprop="addressLocality" property="addressLocality" content="Québec" />
                <meta itemprop="addressRegion" property="addressRegion" content="QC" />
                <meta itemprop="postalCode" property="postalCode" content="G1K 4C4" />
            </div>
        </div>
        <div class="date">
            {% svg "icon-date", "42x39" %}
            <span class="line" itemprop="startDate" property="startDate" content="2017-04-04T07:00">Du mardi 4 avril</span>
            <span class="line" itemprop="endDate" property="endDate" content="2017-04-06T17:00">au jeudi 6 avril 2017</span>
        </div>
    </div>
</header>

<section class="infos">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="visuallyhidden">Informations</h2>
                <p class="description" itemprop="description" property="description">
                    Le WAQ revient en force pour une 7e édition et plusieurs nouveautés vous y attendent! Venez découvrir les dernières tendances numériques, rencontrer les acteurs importants de l'écosystème et approfondir vos connaissances. Et pourquoi ne pas profiter de la <a href="http://semainenumerique.com/">Semaine numérique de Québec</a>.
                </p>
                <ul class="numbers">
                    <li class="size-1 pos-n"><span class="number">3</span> jours</li>
                    <li class="size-1 pos-nw"><span class="number">60</span> conférences</li>
                    <li class="size-1 pos-ne"><span class="number">6</span> keynotes</li>
                    <li class="size-2 pos-s"><span class="number">9</span> tables rondes</li>
                    <li class="size-2 pos-se"><span class="number">8</span> classes de maîtres*</li>
                    <li class="size-2 pos-sw"><span class="number">3</span> démon<span class="is-desktop-only">strations</span> pratiques</li>
                    <li class="size-3 pos-c"><span class="number">1200</span> participants</li>
                </ul>
                <p class="asterix">* Non compris dans le billet du WAQ, sera vendu séparément.</p>
            </div>
        </div>
    </div>
</section>

<section class="tickets">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="visuallyhidden">Participer</h2>

                <div class="grid">
                    <div class="grid-wrapper">

                        <div class="col-1-2" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" property="offers" typeof="Offer">
                            <meta itemprop="price" property="price" content="375"/>
                            <meta itemprop="priceCurrency" property="priceCurrency" content="CAD" />
                            <link itemprop="availability" property="availability" href="http://schema.org/InStock"/>

                            <div class="price"><span class="visuallyhidden">Prix du billet : </span>375$</div>
                            <div class="type">Tarif prévente</div>
                            <div class="valid" itemprop="validThrough" content="2016-12-18T00:00">jusqu'au 17 décembre 2016</div>
                            <div class="buy"><a class="btn btn-outline is-white" href="https://lepointdevente.com/billets/waq2017/#tickets" itemprop="url" property="url">J'achète <span class="visuallyhidden"> mon billet pour le WAQ</span></a></div>
                            <span class="warning">Vous serez redirigé sur le site lepointdevente.com pour compléter votre achat.</span>
                        </div>
                        <div class="col-1-2">
                            <h3 class="title">Votre billet pour le WAQ comprend :</h3>
                            <ul class="includes">
                                <li><span class="icon-wrapper"><img src="img/icon-days.png" height="62"></span>3 jours complets de conférences et d’activités portant sur le numérique</li>
                                <li><span class="icon-wrapper"><img src="img/icon-food.png" height="62"></span>De savoureux repas en plus d'une grande variété de breuvages</li>
                                <li><span class="icon-wrapper"><img src="img/icon-drinks.png" height="62"></span>Accès à tous les 5@7 sur place et aux soirées After WAQ</li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="hr">OU</div>

                <div class="grid snqc" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" property="offers" typeof="Offer">
                    <div class="grid-wrapper">

                        <div class="col col-1-2">
                            <h3 class="title">Achetez votre billet du WAQ dans le cadre de la Semaine numérique de Québec</h3>
                            <a href="http://semainenumerique.com/"><img class="logo" src="svg/originals/snqc-logo.svg" alt="Visiter le site de la Semaine numérique de Québec"></a>
                        </div>
                        <div class="col col-1-2">
                            <meta itemprop="price" property="price" content="425"/>
                            <meta itemprop="priceCurrency" property="priceCurrency" content="CAD" />
                            <link itemprop="availability" property="availability" href="http://schema.org/InStock"/>
                            <div class="grid prices">

                                <div class="grid-wrapper">
                                    <div class="col col-1-2">
                                        <div class="price"><span class="visuallyhidden">Prix du billet : </span>425$</div>
                                    </div>
                                    <div class="col col-1-2">
                                        <div class="type">Tarif prévente</div>
                                        <div class="valid" itemprop="validThrough" content="2016-12-18T00:00">jusqu'au 17 décembre 2016</div>
                                    </div>
                                </div>
                            </div>

                            <div class="buy"><a class="btn btn-outline is-white" href="https://lepointdevente.com/billets/waq2017/#tickets" itemprop="url" property="url">J'achète <span class="visuallyhidden"> mon billet pour la </span> <abbr title="Semaine Numérique de Québec">SNQC</abbr></a></div>
                            <span class="warning">Vous serez redirigé sur le site lepointdevente.com pour compléter votre achat.</span>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="history">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="visuallyhidden">Histoire</h2>
                <p class="description">
                    Le WAQ est né autour de l’idée de célébrer et de promouvoir le Web à Québec par le biais d’un événement annuel rassembleur. Consultez nos éditions précédentes pour découvrir l’esprit de l’événement et les programmations passées.
                </p>
                <ol class="years">
                    <li><a href="http://2016.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2016</a></li>
                    <li><a href="http://2015.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2015</a></li>
                    <li><a href="http://2014.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2014</a></li>
                    <li><a href="http://2013.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2013</a></li>
                    <li><a href="http://2012.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2012</a></li>
                    <li><a href="http://2011.webaquebec.org" class="btn btn-outline is-grey" href=""><span class="visuallyhidden">Visiter le site de l'édition </span>2011</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="alum">
    <div class="l-content-wrapper">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="visuallyhidden">Anciens conférenciers</h2>
                <div class="alumni-wrapper l-fullwidth">
                    <ul class="alumni l-fullwidth">
                        <li class="person is-active">
                            <div class="infos">
                                <h3 class="name">Robert Scoble</h3>
                                <span class="detail">Édition 2016</span>
                            </div>
                            <div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>
                            <div class="image" style="background-image: url(img/alum/scoble.jpg);"></div>
                        </li>
                        <li class="person pos-af-1">
                            <div class="infos">
                                <h3 class="name">Mike Monteiro</h3>
                                <span class="detail">Édition 2016</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/monteiro.jpg);"></div>
                        </li>
                        <li class="person pos-bf-1">
                            <div class="infos">
                                <h3 class="name">Jeff Gothelf</h3>
                                <span class="detail">Édition 2016</span>
                            </div>
                            <div class="quote is-small">
                                <blockquote>
                                    [...] impressed with the international audience, broad range of topics covered and lively hallway conversation.
                                </blockquote>
                            </div>
                            <div class="image" style="background-image: url(img/alum/gothelf.jpg);"></div>
                        </li>
                        <li class="person pos-af-2">
                            <div class="infos">
                                <h3 class="name">Larry Kim</h3>
                                <span class="detail">Édition 2016</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/kim.jpg);"></div>
                        </li>
                        <li class="person pos-bf-2">
                            <div class="infos">
                                <h3 class="name">Vitaly Friedman</h3>
                                <span class="detail">Édition 2016</span>
                            </div>
                            <div class="quote is-small">
                                <blockquote>
                                    The conference welcomes many people with various design and technical skills, all genuinely interested in improving and refining their craft. That’s what makes WAQ feel just great [...]
                                </blockquote>
                            </div>
                            <div class="image" style="background-image: url(img/alum/friedman.jpg);"></div>
                        </li>
                        <li class="person pos-af-3">
                            <div class="infos">
                                <h3 class="name">Jared Spool</h3>
                                <span class="detail">Édition 2015</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/spool.jpg);"></div>
                        </li>
                        <li class="person pos-bf-3">
                            <div class="infos">
                                <h3 class="name">Brad Frost</h3>
                                <span class="detail">Édition 2015</span>
                            </div>
                            <div class="quote is-small">
                                <blockquote>
                                    [...] professional event and it's clear he's put a ton of thought and effort into making such a smooth-sailing event take place.
                                </blockquote>
                            </div>
                            <div class="image" style="background-image: url(img/alum/frost.jpg);"></div>
                        </li>
                        <li class="person pos-af-4">
                            <div class="infos">
                                <h3 class="name">Luke Wroblewski</h3>
                                <span class="detail">Édition 2012</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/luke.jpg);"></div>
                        </li>
                        <li class="person pos-bf-4">
                            <div class="infos">
                                <h3 class="name">Josh Clark</h3>
                                <span class="detail">Édition 2013</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/clark.jpg);"></div>
                        </li>
                        <li class="person pos-af-5">
                            <div class="infos">
                                <h3 class="name">Peter Morville</h3>
                                <span class="detail">Édition 2012</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/morville.jpg);"></div>
                        </li>
                        <li class="person pos-bf-5">
                            <div class="infos">
                                <h3 class="name">Jonathan Snook</h3>
                                <span class="detail">Édition 2014</span>
                            </div>
                            <!--<div class="quote">
                                <blockquote>
                                    WAQ is a great place to learn about what comes next.
                                </blockquote>
                            </div>-->
                            <div class="image" style="background-image: url(img/alum/snook.jpg);"></div>
                        </li>
                    </ul>
                </div>
                <button class="nav-prev">{% svg "arrow-left", "42x268" %}</button>
                <button class="nav-next">{% svg "arrow-right", "42x268" %}</button>
            </div>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <h2 class="title">S'inscrire à notre infolettre</h2>
                <span class="subtitle">Soyez les premiers à recevoir nos prochaines promotions.</span>

                <form>
                    <input type="email" placeholder="Courriel">
                    <input type="submit" value="Je m'inscris">
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="l-content-wrapper is-single-column">
        <div class="l-page-wrapper">
            <div class="l-block-content">
                <span><a href="tel:18773342547">1-877-334-2547</a> | <a href="mailto:info@webaquebec.org">info@webaquebec.org</a></span>
                <div class="socials">
                    <a href="https://twitter.com/webaquebec" class="social">{% svg "icon-twitter", "21x17" %}<span class="visuallyhidden">Compte Twitter</span></a>
                    <a href="https://www.facebook.com/webaquebec" class="social">{% svg "icon-facebook", "10x21" %}<span class="visuallyhidden">Page Facebook</span></a>
                    <a href="https://www.linkedin.com/company/web-qu-bec" class="social">{% svg "icon-instagram", "23x23" %}<span class="visuallyhidden">Compte Instagram</span></a>
                </div>
                <p class="description">
                    Le Web à Québec est un événement propulsé par <span itemprop="organizer" itemtype="http://schema.org/Organization" property="organizer" typeof="Organization"><a itemprop="url" property="url" href="http://www.quebecnumerique.com/"><span itemprop="name" property="name">Québec Numérique </span></a></span>(OBNL). <br>
                    Événement membre de la <span itemprop="superEvent" itemscope itemtype="http://schema.org/Event" property="superEvent" typeof="http://schema.org/Event">
                        <meta itemprop="location" property="location" content="Québec, Canada" />
                        <meta itemprop="startDate" property="startDate" content="2017-04-03T07:00" />
                        <a href="http://semainenumerique.com/" itemprop="url" property="url"><span itemprop="name" property="name">Semaine Numérique</span></a></span>.
                </p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
